.root {
  overflow-y: auto;
  scroll-behavior: smooth;
  // border-radius: var(--l-3);
  background-color: var(--c-bg);
  // box-shadow: var(--s-s), 0 0 0 1px var(--c-ring);

  .empty {
      padding: var(--l-8);
      color: var(--c-text-secondary);

      .text {
          font-size: var(--t-font-s);
      }
  }

  .wrapper {
      width: fit-content;
      min-width: 100%;
  }

  table {
      width: 100%;
  }

  thead, footer {
      // background-color: var(--c-neutral-100);
  }

  th, td {
      padding: var(--l-3) var(--l-6);
      box-shadow: 0 1px 0 0 var(--c-ring);
  }

  tr[data-clickable=true] {
      cursor: pointer;
  }

  .groupRow {
    background-color: var(--c-neutral-100);
  }

  .closedRow {
    border-bottom: 1px solid var(--c-neutral-200);
  }

  th {
      letter-spacing: .05em;
      text-transform: uppercase;
      font-size: var(--t-font-s);
      font-weight: 600;
      color: var(--c-text-secondary);
  }

  td {
      font-size: 15px;
      vertical-align: middle;
  }

  footer {
      width: 100%;
      padding: var(--l-3) var(--l-6);
      font-size: var(--t-font-s);
      font-weight: 600;
      color: var(--c-text-secondary);
      box-shadow: 0 -1px 0 0 var(--c-ring);
  }
}