.radio {
  visibility: hidden;
  position: fixed;
  width: 0;
}
.label {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0, 0.8);
  overflow: hidden;
  transition: all .3s ease-out;
  justify-content:center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;


  &.border {
    box-shadow: inset 0px 0px 0px 0.5px rgb(0, 0, 0, 0.5);
  }
}

.mark {
  position: absolute;
  bottom: 10%;
}

@media screen and (max-width: 1000px) {
  .mark {
    bottom: 3%;
  }
}

.radio:checked + label {
  background-color: var(--c-primary-500);
  color: rgb(255, 255, 255, 0.9);
  border: none;
  transition: all .3s ease-out;

  &.bold {
    font-weight: bold;
  }
}
