.overlay {
  background-color: var(--c-backdrop);
  position: fixed;
  inset: 0px;
  z-index: 100;
}

.close {
  position: absolute;
  top: var(--l-4);
  right: var(--l-4);
  width: var(--l-8);
  height: var(--l-8);
  padding: var(--l-2);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: var(--c-white);
  z-index: 100;
  cursor: pointer;
}

.wrapper {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  padding: var(--l-6);
  z-index: 101;

  @media screen and (max-width: 720px) {
    padding: 0;
    padding-top: var(--l-10);
    align-items: flex-end;
  }
}

.content {
  position: relative;
  padding: var(--l-6);
  background-color: var(--c-bg);
  border-radius: var(--l-radius-m);
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100%;
  box-shadow: 0 0 0 1px var(--c-ring);

  @media screen and (max-width: 720px) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &[data-width="xs"] {
    max-width: 280px;
  }

  &[data-width="sm"] {
    max-width: 375px;
  }

  &[data-width="md"] {
    max-width: 480px;
  }

  &[data-width="lg"] {
    max-width: 600px;
  }
}

.title {
  position: sticky;
  font-size: var(--t-font-l);
  font-weight: 600;
  margin-bottom: 8px;
  background-color: var(--c-bg);
}

.description {
  font-size: var(--t-font-m);
  color: var(--c-text-secondary);
  margin-bottom: 12px;
}

.actions {
  display: flex;
  position: sticky;
  width: 100%;
  bottom: 0;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;

  @media screen and (max-width: 720px) {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}
